<ul>
  <li>
    I'm currently restarting my Datapod project (July 2023) and
    will use this site to store everything concerning all Datapod
    sites and frameworks I am working on, e.g.
    <ul>
      <li>documentation</li>
      <li>version/feature information</li>
      <li>ticket-system</li>
      <li>downloads for various Datapod frameworks</li>
    </ul>
  </li>
  <li>
    Datapod has been a long-time project of mine, see some
    historical graveyard sites such as:
    <ul>
      <li>
        <a href="https://tanguay.info/datapod">tanguay.info/datapod</a>
        - the original idea of Datapod
      </li>
      <li>
        <a href="https://tanguay.info/dpwpf/screenshots.php">tanguay.info/dpwpf</a>
        - Datapod for WPF from 2009
      </li>
      <li>
        <a href="https://tanguay.info/dpphp_01000">tanguay.info/dpphp_01000</a>
        - Datapod for PHP from 2011
      </li>
      <li>
        <a href="https://tanguay.info/dpphp">tanguay.info/dpphp</a>
        - Datapod for PHP from 2014
      </li>
      <li>
        <a href="https://github.com/edwardtanguay/n49901_dpn">github.com/edwardtanguay/n49901_dpn</a>
        - Datapod for Node/Express from 2020
      </li>
      <li>
        <a href="https://dpodreact.netlify.app">dpodreact.netlify.app</a>
        - Datapod for React from 2021
      </li>
    </ul>
  </li>
</ul>
